#Nav {
  min-height: 10vh;
  width: 100vw;
  padding: 1.5rem 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px #979797c2;
  background-color: #ffffff;
  margin-bottom: 5rem;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  color: #008737;
  font-weight: bold;
}

.logo h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  color: black;
}

.logo img {
  margin-right: 1rem;
  width: 2.5rem;
}

.search-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-container .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container .bottom div {
  background-color: #00873681;
  border: none;
  padding: .2rem .5rem;
  margin-right: .2rem;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: .2rem;
  cursor: pointer;
  color: #F5FAF5;
  font-size: .7rem;
}

.search-container input {
  margin-right: .5rem;
  margin-bottom: .5rem;
  border: 2px solid #008737;
  padding: .5rem 1.5rem;
  background-color: #ffffff;
  border-radius: .5rem;
  width: 20rem;
  font-family: 'Josefin Sans', sans-serif;
  color: #008737;
  font-weight: bold;
}

.search-container input:focus {
  outline: none;
  border: 2px solid gray;
}

.search-container input::placeholder {
  color: #008737;
}

.search-container button {
  background-color: #008737;
  border: none;
  padding: .5rem 1rem;
  margin-right: .2rem;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 1rem;
  cursor: pointer;
  color: #F5FAF5;
  font-size: .9rem;
}

.nav-buttons {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-buttons i {
  font-size: 1.7rem;
  cursor: pointer;
  color: #008737;
}





/* markets */
.markets {
  padding: 0 10vw;
}

#MarketCard {
  margin: 2.5rem 0;
  padding: 1rem;
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #f5f5f5;
  overflow: hidden;
}

.images {
  grid-column: 1 / 2;
  width: 15rem;
  height: 15rem;
  border-radius: 1rem;
  background-color: #d8d8d8;
  margin-right: 1rem;
  overflow: hidden;
  object-fit: cover;
}

.images-container {
  position: relative;
}

.images-container img {
  position: absolute;
  top: 0;
  left: -20%;
  height: 17rem;
}

.images-container img:nth-child(1) {
  animation: fade1 9s infinite linear;
}
@keyframes fade1 {
  0% { opacity: 0.5; }
  7.5% { opacity: 1; }
  25.5% { opacity: 1; }
  40.5% { opacity: 0; }
  92.5% { opacity: 0; }
  100% { opacity: 0.5; }
}

.images-container img:nth-child(2) {
  animation: fade2 9s infinite linear;
}
@keyframes fade2 {
  0% { opacity: 0; }
  25.5% {opacity: 0;}
  40.5% { opacity: 1; }
  58.5% { opacity: 1;}
  73.5% { opacity: 0; }
  100% { opacity: 0; }
}

.images-container img:nth-child(3) {
  animation: fade3 9s infinite linear;
}
@keyframes fade3 {
  0% { opacity: 0.5; }
  7.5% { opacity: 0; }
  58.5% {opacity: 0; }
  73.5% { opacity: 1; }
  92.5% { opacity: 1; }
  100% { opacity: 0.5; }
}

.market-details {
  grid-column: 2 / 5;
}

.market-details h1 {
  margin-bottom: 1rem;
  padding-top: .5rem;
  color: #008737;
}

.market-details p {
  margin-bottom: 1rem;
  color: #2c2c2c;
  font-size: 1.1rem;
  line-height: 1.1;
}

.market-details h2 {
  margin-bottom: .7rem;
  font-size: 1rem;
  color: #008737;
}

.market-details img {
  width: 1rem;
  margin-right: .5rem;
}








/* footer */
#Footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #008737;
  padding-top: 3rem;
  margin-top: 5rem;
}

.footer-logo img {
  display: block;
  margin: auto;
  width: 3rem;
}

.footer-logo {
  font-family: 'Dancing Script', cursive;
  margin-bottom: 2rem;
  color: black;
}

.copyright {
  font-family: 'Josefin Sans', sans-serif;
  font-size: .7rem;
  padding: .5rem;
  border-top: 1px solid black;
  font-weight: bold;
}





/* Login */
#Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff3d;
  backdrop-filter: blur(5px);
  font-family: 'Josefin Sans', sans-serif;
}

#Login h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
}

#Login form {
  width: 20rem;
  background-color: #008737;
  border: 1px solid #008737;
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
}

#Login input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  background-color: #ffffff;
  padding: .7rem 1.5rem;
  border: 2px solid #ffffff;
  color: #008737;
  font-weight: bold;
  font-size: .8rem;
  border-radius: 5rem;
  font-family: 'Josefin Sans', sans-serif;
}

#Login input:focus {
  outline: none;
  border: 2px solid gray;
}

#Login input::placeholder {
  color: gray;
  font-weight: bold;
}

#Login button {
  display: block;
  margin: 5rem auto 0 auto;
  background-color: #ffffff;
  color: #008737;
  font-family: 'Josefin Sans', sans-serif;
  padding: .8rem 2.5rem;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

#Login .form-close {
  position: absolute;
  top: 7%;
  right: 7%;
  width: 1.2rem;
  cursor: pointer;
}