#Nav {
  min-height: 10vh;
  width: 100vw;
  padding: 1rem 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Cabin Sketch', cursive;
  box-shadow: 0 5px 10px #979797c2;
  background-color: #008737;
  margin-bottom: 5rem;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  color: #ffffff;
  font-weight: bold;
}

.logo img {
  margin-right: .5rem;
}

.search-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container input {
  margin-right: .5rem;
  border: 2px solid #ffffff;
  padding: .5rem 1.5rem;
  background-color: #008737;
  border-radius: .5rem;
  width: 20rem;
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;
}

.search-container input::placeholder {
  color: #ffffff;
}

.search-container button {
  background-color: #F5FAF5;
  border: none;
  padding: .2rem .5rem;
  margin-right: .2rem;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: .2rem;
  cursor: pointer;
}

.nav-buttons {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-buttons img {
  width: 1rem;
}





/* markets */
.markets {
  padding: 0 10vw;
}

#MarketCard {
  margin: 2.5rem 0;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
}

.images-container {
  width: 120rem;
  height: 15rem;
  border-radius: 1rem;
  background-color: #F5FAF5;
  /* border: 1px solid red; */
  margin-right: 1rem;
}






/* footer */
#Footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #008737;
  padding-top: 3rem;
  margin-top: 5rem;
}

.footer-logo img {
  display: block;
  margin: auto;
  width: 3rem;
}

.footer-logo {
  font-family: 'Cabin Sketch', cursive;
  margin-bottom: 2rem;
  color: #ffffff;
}

.copyright {
  font-family: 'Josefin Sans', sans-serif;
  font-size: .7rem;
  padding: .5rem;
  border-top: 1px solid black;
  font-weight: bold;
}